@model WebApp2.Models.LoginVM
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p> Name: <input placeholder="@Context.Session.GetString("FullName")" readonly />   </p>
    <p>Email: <input placeholder="@Context.Session.GetString("Email")" readonly/></p>
    <p>Role: <input placeholder="@Context.Session.GetString("Role")" readonly/></p>
    <a asp-controller="Login" asp-action="GantiPass">Ganti Password</a>
    <a asp-controller="Login" asp-action="Login">Sign Out</a>

</div>
