@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form method="post" asp-action="Login">
 <p>
 <input name="email" type= "text"/>
 </p> 
<p>
<input name="password" type="text"/>
</p>
<p>
    <button type="submit">Login</button>
</p>
    <p>
        <a asp-controller="Login" asp-action="Register">Daftar Akun</a>
    </p>
   <p> 
       <a asp-controller="Login" asp-action="GantiPass">Ganti Password</a>
   </p>
</form>
