@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Lupa Password";
}


<h1>Lupas Password</h1>


<form method="post" asp-action="LupaPass">
    <input name="fullname" placeholder="Nama Lengkap" type="text" />
    <input name="passlama" placeholder="password lama" type="password" />
    <input name="passbaru" placeholder="password baru" type="password" />
    <button type="submit">Submit</button>
</form>

