@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewData["Title"] = "Register";
}

<h1>REGISTER</h1>


<form method="post" asp-action="Register">
  <p>  
      <input name="Fullname" placeholder="Full Name" type="text" />
  </p>
  <p>
      <input name="Email" placeholder="Email" type="text" />
  </p>
   <p>
   <input name="Birthdate" placeholder="Birth Date" type="text" />
   </p>  
   <p>
    <input name="Password" placeholder="Password" type="text" />
   </p>
    <button type="submit">Submit</button>
</form>
